<%= form_with(model: [:admin, character], local: true) do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% character.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :race %>
    <%= form.text_field :race %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.collection_select(:model_id, Region.all, :id, :name)%>
  </div>

  <div class="field">
    <%= form.label :birth_year %>
    <%= form.number_field :birth_year %>
  </div>

  <div class="field">
    <%= form.label :weapon %>
    <%= form.text_field :weapon %>
  </div>

  <div class="field">
    <%= form.label :strength %>
    <%= form.text_field :strength %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
