<p id="notice"><%= notice %></p>

<h1>Characters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Race</th>
      <th>Region</th>
      <th>Birth year</th>
      <th>Weapon</th>
      <th>Strength</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.name %></td>
        <td><%= character.race %></td>
        <% if character.region %>
          <td><%= character.region.name %></td>
        <% else %>
          <td>Unknown</td>
        <% end %>
        <% if character.birth_year %>
          <td><%= character.birth_year %></td>
        <% else %>
          <td>Unknown</td>
        <% end %>
        <td><%= character.weapon %></td>
        <td><%= character.strength %></td>
        <td><%= link_to 'Show', [:admin, character] %></td>
        <td><%= link_to 'Edit', edit_admin_character_path(character) %></td>
        <td><%= link_to 'Destroy', [:admin, character], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_admin_character_path %>
